<!-- NOTE: webpage is having trouble changing who the acive user is. If a user logs out and then back into a different account it is behaving as though the previous user is still logged in. for example, Laney can be logged in and send juni an invite to a gamenight, laney can log out and juni can log in, when juni logs in it will show them the invite but behave as though they are laney. the variable user.id is not updating. check with 100devs group for a fix. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper deep-purple lighten-3">
                <a href="#!" class="brand-logo center">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a href="badges.html">Game Nights</a></li>
                    <li><a href="collapsible.html">Friends</a></li>
                    <li><a href="sass.html">My Shelf</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <!-- this section contains the gamenight the user has created and has buttons for adding games and inviting other users -->
        <h1>welcome <%= user.userName %> </h1>
        <h2>My Game Nights</h2>
            <ul>
            <% userGameNights.forEach( el => { %>
                <% gameNightId = el._id %> 
                <div class="card green lighten-4">
                    <li class='userGameNights' data-id='<%= el._id %>'>
                        <!-- basic info about the gamenight -->
                        <h3 class="gameNightTitle"><%= el.title %></h3>
                            <p>Date:<%= el.date %> </p>
                            <p>Vote by: <%= el.voteByDate %> </p>
                            <p><%= el.description %> </p>

                            <h4>Invited</h4>
                            <!-- shows currently invited users -->
                            <% el.invitedIds.forEach(userid => { %>
                                <!-- finds user with matching id to gamenights invited user ids -->
                                <% user = users.find(ele => ele._id == userid ) %>
                                <p> <%= user.userName %>  </p>
                             <% }) %> 
                             <!-- input field for inviting new user -->
                            <div class="input-field inline">
                                <input class="inviteInput" type="text">
                                <button class="btn waves-effect waves-light inviteBtn" type="submit" name="userInvite">Send Invite
                                    <i class="material-icons right">send</i>
                                  </button>
                                <label for="email_inline">Email/username</label>
                            </div>
                             
                            <h4>Attending</h4>
                            <!-- shows users who accepted invites -->
                            <% el.attendingIds.forEach(userid => { %>
                                <!-- finds user with matching id to gamenights invited user ids -->
                                <% user = users.find(ele => ele._id == userid ) %>
                                <p> <%= user.userName %>  </p>
                             <% }) %> 
                            
                            <h4>Game Choices</h4>
                                <% el.games.forEach(game => { %>
                                <span> <%= game.title %> </span>
                                <% }) %>
                                <!-- TODO: make this a game add input -->
                                <div class="input-field inline">
                                    <input id="inviteInput" type="text">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Add Game
                                    </button>
                                    <label for="email_inline">Game Title</label>
                                </div>

                            <h4>Comments</h4>
                            <div data-userId='<%=user.id%>' data-userName='<%=user.userName%>'>
                                <input type="text" class="commentInput" >
                                <button class="btn waves-effect waves-light postCommentBtn" type="submit" name="action" >Post Comment
                                </button>
                            </div>
                            <div>
                                <!-- shows users who accepted invites -->
                            <% comments.forEach(comment => { %>
                                <!-- finds user with matching id to gamenights invited user ids -->
                                <% if (comment.gameNightId == gameNightId) { %>
                                 <p class="commentUserName blue-text"> <%= comment.userName %></p>
                                 <span class="commentDate"><%= comment.date.toDateString() %></span>
                                 <p> <blockquote> <%= comment.comment %> </blockquote></p>
                                <% } %>
                             <% }) %> 
                            </div>
                            

                           
                        <div class="right-align">
                        <a class="waves-effect waves-teal btn-flat red-text del">delete</a>
                        </div>
                    </li>
                </div>
            <% }) %>    
            </ul>
        <h2>Invites</h2>
        <div>
            <ul>
                <% invitedGameNights.forEach( el => { %>
                    <div class="card green lighten-4">
                        <% gameNightId = el._id %>
                        <li class='userGameNights' data-id='<%= el._id %>'>
                            <h3 class="gameNightTitle"><%= el.title %></h3>
                                <p>Date:<%= el.date %> </p>
                                <p>Vote by: <%= el.voteByDate %> </p>
                                <p><%= el.description %> </p>
                            <h4>Invited</h4>
                            <!-- shows invited users -->
                            <!-- invite accept and decline button logic -->
                            <% if (el.invitedIds.includes(user._id) && !el.attendingIds.includes(user._id)) { %>
                            <p> You were invited! Would you like to accept? </p>
                            <a class="waves-effect btn-flat green-text acceptBtn">Accept!</a> <a class="waves-effect  btn-flat red-text declineBtn">No thanks!</a>
                            <% } %>
                            <!-- shows users who accepted invites -->
                            <% el.invitedIds.forEach(userid => { %>
                                <!-- finds user with matching id to gamenights invited user ids -->
                                <% invitedUser = users.find(ele => ele._id == userid ) %>
                                <p> <%= invitedUser.userName %>  </p>
                            <% }) %> 

                            <h4>Attending</h4>
                            <!-- shows users who accepted invites -->
                            <% el.attendingIds.forEach(userid => { %>
                                <!-- finds user with matching id to gamenights invited user ids -->
                                <% attendingUser = users.find(ele => ele._id == userid ) %>
                                <p> <%= attendingUser.userName %>  </p>
                            <% }) %> 

                            <h4>Game Choices</h4>
                            <!-- shows game choices TODO: ADD VOTE BUTTONS -->
                                <% el.games.forEach(game => { %>
                                <span> <%= game.title %> </span>
                                <% }) %> 

                                
                                    <!-- shows comments to attending users -->
                                    <% if (el.attendingIds.includes(user.id)) { %>
                                        <h4>Comments</h4>
                                        <div data-userId='<%=user.id%>' data-userName='<%=user.userName%>'>
                                            <input type="text" class="commentInput" >
                                            <button class="btn waves-effect waves-light postCommentBtn" type="submit" name="action" >Post Comment
                                            </button>
                                        </div>
                                         <div>
                                    <% comments.forEach(comment => { %>
                                        <!-- finds user with matching id to gamenights invited user ids -->
                                        <% if (comment.gameNightId == gameNightId) { %>
                                        <p class="commentUserName blue-text"> <%= comment.userName %></p>
                                        <span class="commentDate"><%= comment.date.toDateString() %></span>
                                        <p> <blockquote> <%= comment.comment %> </blockquote></p>
                                        <% } %>
                                    <% }) %> 
                                    </div>
                                    <% } %>
                                
                                         
                    </li>
                </div>
                <% }) %>    
            </ul>
        </div>

        <h2>Plan your own Game Night!</h2>

        <form action="/gamenight/createGameNight" method='POST'>
            <label for="gameNightTitle">Title</label>
            <input type="text" placeholder="Title" name='gameNightTitle'>
            <label for="gameNightDescription">Description</label>
            <input type="text" placeholder="Description" name="gameNightDescription">
            <label for="gameNightDate">Date</label>
            <input type="date" name="gameNightDate">
            <label for="gameNightTitle">Vote By Date</label>
            <input type="date" name="voteByDate">
            <input type="submit">
        </form>

        <a href="/logout">Logout</a>

        <script src="js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </div>
</body>
</html>