<%- include('partials/header') -%>
<body>
    <div class="container">
        <!-- profile and bio -->
        <div class="row">
            <div class="col s6">
    
                <h1><%= profile.userName %> </h1>
                <ul>
                    <li>Age: <%= profile.age %> </li>
                    <li>Gender: <%= profile.gender %> </li>
                    <li>Pronouns: <%= profile.pronouns %> </li>
                </ul>
                <a class="btn green wave-effect friendRequestBtn" data-profileid="<%= profile.id %>" data-userid="<%= user.id %>">Send Friend Request</a>
            </div>

            <div class="green col s6 card bio">
                    <h5><%= profile.userName %>'s Bio </h5>
                    <p> <%= profile.bio %> </p>
            </div>
        </div>
    </div>
    
   
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>